body{background-color: azure;}
li{color: purple;}
p{
    color: blue;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
h2{color: chocolate;}
a{color: purple;}
address{color: purple;}
